<td class="title-center">
	<%= link_to user.account_number, user %>
</td>
<td><%= user.name %></td>
<td>
	<%= form_for(user) do |f| %>
		<%= f.select(:role, User.roles.keys.map { |role| [role.titleize, role] })%>
		<%= f.submit 'Change role', :class => 'button-xs'%>
	<% end %>
</td>
<td>
	<%= link_to('Delete user', user_path(user), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
