<h3>User: <%= @user.name if @user.name %></h3>
<p>Account number: <%= @user.account_number if @user.email %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Created: <%= @user.created_at if @user.created_at %></p>
<%= link_to 'Back', :back %>
