<% if user_signed_in? %>
  <li><%= link_to t('title_nav.edit_account'), edit_user_registration_path %></li>
  <li><%= link_to t('title_nav.sign_out'), destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li><%= link_to t('title_nav.sign_in'), new_user_session_path %></li>
  <li><%= link_to t('title_nav.sign_up'), new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to t('title_nav.users'), users_path %></li>
<% end %>
